.favourites-main-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0px;
}
.favourites-inner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img.no-favourites {
  max-width: 765px;
}
.fav-label{
    margin-left: 10px;
}
.fav-icon-inner {
  display: flex;
    background-color: #E7E7E9;
    padding: 7px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
